@using Microsoft.AspNet.Identity
@using DOAN_WEBNC.Models
@if (Request.IsAuthenticated)
{
    var index = User.Identity.Name.IndexOf("@");
    var Name = User.Identity.Name.Remove(index);
    if(User.IsInRole("Student"))
    {
        var userID = (new ApplicationDbContext()).Users.FirstOrDefault(m => m.UserName == User.Identity.Name).Id;
        Name = (new ApplicationDbContext()).HocSinhs.FirstOrDefault(m => m.IDHocSinh == userID).HoTen;

    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        //if(User.IsInRole("Admin"))
        <li class="nav-item">
            @Html.ActionLink("Hello " + Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class = "nav-link"})
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </li>
    }
}
else
{
    @*<li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>*@
    <li class="nav-item">@Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
}
